body {
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden;
}
#web_bg {
  background-position: center !important;
}
header {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px !important;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
@font-face {
  font-family: "iconfont";
  src: url("/font/iconfont.eot");
  src: url("/font/iconfont.eot?#iefix") format("embedded-opentype"),
    url("/font/iconfont.woff") format("woff"),
    url("/font/iconfont.ttf") format("truetype"),
    url("/font/iconfont.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
#web_bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* 兼容Webkit内核浏览器如Chrome和Safari */
  -webkit-background-size: cover;
  /* 兼容Opera */
  -o-background-size: cover;
  zoom: 1;
}
.searchOpt {
  border-radius: 5px!important;
  width: 76px!important;
}
.logo-item {
  width: 210px;
  height: 70px;
}
.panels,
.panel {
  background: rgba(255, 255, 255, 0.7) !important;
}
.v-toolbar__title {
  cursor: default;
}
.v-responsive__content {
  cursor: pointer;
}
.v-input__slot {
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px;
}
.v-input__slot:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 15px;
}
/*.v-input__slot:focus {
	box-shadow: rgba(0,0,0,.2) 0 2px 20px;
}*/

/* 折叠面板 */
.v-expansion-panels {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
.v-expansion-panel {
  -webkit-transition: margin, border-bottom-left-radius, border-bottom-right-radius, background-color .2s cubic-bezier(0.4, 0, 1, 1) !important;
  transition: margin, border-bottom-left-radius, border-bottom-right-radius, background-color .2s cubic-bezier(0.4, 0, 1, 1) !important;
}
.v-expansion-panel.panels {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
.v-expansion-panel.panels:hover {
  background-color: rgba(255, 255, 255, 1) !important;
}
.v-expansion-panel.panels.v-expansion-panel--active.v-item--active {
  background-color: rgba(255, 255, 255, 0.75) !important;
}
.panel.flex.d-flex.flex-column.v-card.v-card--link.v-card--outlined.v-sheet.v-sheet--tile.theme--light {
  transition: all 0.25s;
}
.panel.flex.d-flex.flex-column.v-card.v-card--link.v-card--outlined.v-sheet.v-sheet--tile.theme--light:hover {
  background-color: white !important;
}

.ma-0.flex {
  /* overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; */
}
.text-center.white--text.col.col-12 {
  font-size: small;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.text-center.white--text.col.col-12 a {
  transition: all 0.25s;
}
.text-center.white--text.col.col-12 a:hover {
  color: rgb(135, 180, 230) !important;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .v-input__slot {
    background-color: rgba(255, 255, 255, 0.5) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .v-input__slot:hover {
    background-color: rgba(255, 255, 255, 0.7) !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 15px;
  }
  /*.v-input__slot:focus {
		background-color: rgba(255,255,255,.9) !important;
		box-shadow: rgba(0,0,0,.1) 0 2px 15px;
	}
	.v-expansion-panel::before {
		-webkit-box-shadow: transparent 0 0 0 !important;
		box-shadow: transparent 0 0 0 !important;
	}*/
  .v-expansion-panel.panels.v-expansion-panel--active.v-item--active {
    /* transition-delay: 0.25s;
    background-color: rgba(255, 255, 255, 0.5) !important; */
    -webkit-transition: none;
    transition: none;
  }
  .v-expansion-panel.panels:hover {
    background-color: rgba(255, 255, 255, 1) !important;
  }
}
